<%= render 'layouts/new' %>

<h1>未処理タスク</h1>
<% @task_false.each do |task| %>
  <div><%= check_box_tag '', '', task.status, {'data-id' => task.id} %> <%= task.content %></div>
<% end %>
<h1>終了タスク</h1>
<% @task_true.each do |task| %>
  <div><%= check_box_tag '', '', task.status, {'data-id' => task.id} %> <%= task.content %></div>
<% end %>
