<!DOCTYPE html>
<html>
  <head>
    <title>HackathonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= session[:user_id] %>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
    <!-- jqueryの機能を使ってチェックボックスの制御を行う -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]").click(function() {
                $.post('/tasks/'+$(this).data('id')+'/toggle')
            })
        })
    </script>
  </body>
</html>
